# Excluir carpetas de compilación de .NET en cualquier nivel
**/bin/
**/obj/

# Excluir carpetas temporales de Visual Studio
**/.vs/
**/*.user
**/*.suo

# Excluir carpetas de Angular
**/node_modules/
**/.angular/
**/dist/

# Archivos de configuración locales o logs
*.log
.env

backend/appsettings.json