<ng-container *ngIf="movie">
    <form #formData="ngForm">
        <div class="infoFieldForm" style="width: 100%;">
            <p class="text">Name</p>
            <input name="name" #name="ngModel" class="w-full" type="text" pInputText [(ngModel)]="movie.name" required
                [maxlength]="100" />
            <p class="p-error" *ngIf="name.touched && name.invalid">Name is a requierd field</p>
        </div>
        <div class="flex gap-4">
            <div class="infoFieldForm" style="width: 100%;">
                <p class="text">Gender</p>
                <input name="gender" #gender="ngModel" class="w-full" type="text" pInputText [(ngModel)]="movie.gender"
                    required [maxlength]="50" />
                <p class="p-error" *ngIf="gender.touched && gender.invalid">Gender is a requierd field</p>
            </div>
            <div class="infoFieldForm" style="width: 100%;">
                <p class="text">Director</p>
                <p-select class="w-full" appendTo="body" name="fkDirector" #fkDirector="ngModel"
                    [(ngModel)]="movie.director" [options]="directorServ.allDirectors()" optionLabel="name"
                    optionValue="pkDirector"></p-select>
                <p class="p-error" *ngIf="name.touched && name.invalid">Name is a requierd field</p>
            </div>
        </div>
        <div class="flex gap-4">
            <div class="infoFieldForm" style="width: 100%;">
                <p class="text">Relese Date</p>
                <p-datepicker appendTo="body" name="releasedate" #releasedate="ngModel"
                    [(ngModel)]="movie.releseDateObj" />
                <p class="p-error" *ngIf="name.touched && name.invalid">Name is a requierd field</p>
            </div>
            <div class="infoFieldForm" style="width: 100%;">
                <p class="text">Duration</p>
                <input class="timeInput" name="duration" #duration="ngModel" [(ngModel)]="movie.duration" type="time" />
                <p class="p-error" *ngIf="name.touched && name.invalid">Name is a requierd field</p>
            </div>
        </div>
    </form>
</ng-container>